.main{
	display: block;
	margin: 0 auto;
	text-align: center;
	min-width: max-content;
}
a{
	display: inline;
}
h1{
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	clear: both;
}
p{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.center{
	font-size: 15pt;
	font-style: bold;
}
form{
	margin: 0 auto;
	width: 40%;
	float: right;
}
.form-inline{
	display: flex;
}
.turun{
	clear: right;
}
input{
	margin-right: 50px;
}
button{
	margin-right: 0;
}
input #nrp:hover{
	
}
h3{
	text-align:left;
}
h5{
	text-align: left;
}